.section.container.puffview-container {

    h2 {
        text-align: center;
    }

    .puffview {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 48px;
    }
}