.hero {
	.section-inner {
		padding-top: $hero--padding-t__mobile;
		padding-bottom: $hero--padding-b__mobile;
	}
}

.hero-inner {

	// Affects only hero full
	> .hero-content + .hero-figure,
	> .hero-figure + .hero-content {
		margin-top: $hero--inner-padding-v_mobile;
	}

	> .hero-figure {

		> a {
			display: inline-flex;
			// prevents stretching
			align-items: center;
			vertical-align: top;
		}
	}
	
	&.section-inner {
		padding-top: 24px !important;
	}

	.ui.button.hero-button {
		padding: 11px 31px;
		padding-top: 13px;
		font-size: 24px;
		width: 90%;
		max-width: 300px;
		font-family: 'Baloo', 'Nunito', sans-serif !important;
	}
}

.hero-light {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-60%);
	z-index: 2;
	height: 100vw;
	pointer-events: none;
	max-width: 100vw;
}

.hero-light1 {
	animation: fadeInOut 2s linear infinite;
}

.hero-light2 {
	animation: fadeInOut 2s linear -1s infinite;
}

@keyframes fadeInOut {
	0%,100% { opacity: 0 }
	50% { opacity: 0.6 }
}

@include media( '<=medium' ) {

	.hero {

		.split-wrap {

			.split-item {

				.split-item-content {
					margin-bottom: $hero--inner-padding-v_mobile;
				}
			}

			&.invert-mobile {

				.split-item {

					.split-item-image {
						margin-bottom: $hero--inner-padding-v_mobile;
					}
				}
			}
		}
	}
}

@include media( '>medium' ) {

	.hero {

		.section-inner {
			padding-top: $hero--padding-t__desktop;
			padding-bottom: $hero--padding-b__desktop;
		}
	}

	.hero-inner {

		// Affects only hero full
		> .hero-content + .hero-figure,
		> .hero-figure + .hero-content {
			margin-top: $hero--inner-padding-v_desktop;
		}
	}
}
